.orbit-group {
  animation: rotate linear infinite;
  transform-origin: 0 0; /* groupe centré */
}

.orbit-group.reverse {
  animation-direction: reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
